*{
    margin: 0;
    padding: 0;
}

.Banner-division{
    background-color: black;
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    padding-bottom: 7%;
    
}
.text-division{
    position: relative;
    top: 149px;
}
.banner-images{
  position: relative;
  left:80%;
  bottom: 10%;
   width: 10px;
   height: 0px;

}
.images-ball {
    width: 235px;
    position: relative;
    left: 180px;
    bottom: 220px;

}
.image-logo{
  width: 30%;
  
}
.side-text {
    position: relative;
    width:75%;
    background-color: #0D0D0D;
    border: 2px solid red;
    height: 400px;

}
.side-text ol{
    background-color: #0D0D0D;
    padding:0px 100px;


}

.side-text ol li{
    font-size: 30px;
    
}

@media screen and (max-width: 992px) {
    .text-division {
        position: relative;
        top: 192px;
    }
  }